{% extends "base.html" %}

{% block title %}User{% endblock %}

{% block footer %}
<script src="/js/app.js"></script>
<script>
    // $.validator.addMethod("validPassword", function(value, element) {
    //     return this.optional(element) || /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{6,}$/.test(value);
    // }, "Password must contain at least 6 characters, including uppercase, lowercase, and digits.");

    $(document).ready(function() {
        // var userId = '{{ user.id }}';
        // /** * Validate the form */
        // $('#formUser').validate({
        //     rules: {
        //         name: 'required',
        //         email: {
        //             required: true,
        //             email: true,
        //             remote: {
        //                 url: '/account/validate-email',
        //                 data: {
        //                     ignore_id: function() {
        //                         return userId;
        //                     }
        //                 }
        //             }
        //         },
        //         password: {
        //             minlength: 6,
        //             validPassword: true
        //         }
        //     },
        //     messages: {
        //         email: {
        //             remote: 'email already taken'
        //         }
        //     },
        //     submitHandler: function(form) {
        //         form.submit();
        //     }
        // });

        /** * Show password toggle button */
        $('#inputPassword').hideShowPassword({
            show: false,
            innerToggle: 'focus'
        });
    });
</script>
{% endblock %}

{% block body %}
<h1>Edit user</h1>

{% if user.errors is not empty %}
<p>Errors:</p>
<ul>
    {% for error in user.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" action="/admin/users/{{ user.id }}/update" id="formUser">
    {% include 'Admin/Users/form.html' with { is_new: false } %}
    <button type="submit" class="btn btn-default">Save</button>
    <a href="/admin/users/{{ user.id }}/show">Cancel</a>
</form>
{% endblock %}


